<h1><b>Amazon Redshift</b></h1>

- Importando bibliotecas e inicializando variáveis do envs
- Conectando ao Data Warehouse Redshift
- Criando tabelas e populando com dados dos scripts SQL (1 a 4)
- Carregando dados externos para o Redshift Spectrum do Bucket S3
- Importando dados do Bucket S3 para o Redshift
- Criando views e views materializadas e testando a diferença de desempelho entre elas

Obs.:

- Para executar o notebook, é necessário ter o Redshift configurado e rodando na AWS, além de ter criado um Bucket S3 para armazenar os dados. Os dois devem estar na mesma região da AWS.

- Os arquivos de exemplos estarão na pasta dados. Os dois scripts que serão utilizados para o Redshift Spectrum e a carga de dados devem estar em pastas separadas para evitar possíveis erros.

- O Cluster Redshift e o Bucket S3 devem estar configurados com as rules corretas e permissões para ser acessados publicamente.

Instalando bibliotecas utilizadas no notebook

In [5]:
%pip install psycopg2
%pip install python-dotenv

Requirement already satisfied: psycopg2 in /home/cayoesn/anaconda3/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in /home/cayoesn/anaconda3/lib/python3.11/site-packages (0.21.0)
Note: you may need to restart the kernel to use updated packages.

Importando bibliotecas utilizadas no notebook e iniciando environment

In [11]:
from dotenv import load_dotenv
import os
import psycopg2

load_dotenv()

print(os.getenv('REDSHIFT_HOST'))

redshift-cluster.chflctapid3q.us-east-1.redshift.amazonaws.com

Inicializando variáveis utiilizandas no código com os valores do arquivo env

In [12]:
host = os.getenv('REDSHIFT_HOST')
database = os.getenv('REDSHIFT_DATABASE')
user = os.getenv('REDSHIFT_USER')
password = os.getenv('REDSHIFT_PASSWORD')
port = os.getenv('REDSHIFT_PORT')

role_iam = os.getenv('REDSHIFT_ROLE_IAM')
s3_bucket = os.getenv('REDSHIFT_S3_BUCKET')

aws_access_key_id = os.getenv('AWS_ACCESS_KEY_ID')
aws_secret_access_key = os.getenv('AWS_SECRET_ACCESS_KEY')
aws_region = os.getenv('AWS_REGION')

Conectando no Redshift

In [13]:
conn = psycopg2.connect(
    host=host,
    database=database,
    user=user,
    password=password,
    port=port
)

conn.autocommit = True
cur = conn.cursor()

<h2>Criação e Inserção dos dados no Data Warehouse Redshift</h2

Criação das tabelas no Redshift

In [14]:
cur.execute("CREATE TABLE categories (\
    category_id smallint NOT NULL,\
    category_name varchar(15) NOT NULL,\
    description VARCHAR(max)\
);")

cur.execute("CREATE TABLE customers (\
    customer_id varchar(40) NOT NULL,\
    company_name varchar(40) NOT NULL,\
    contact_name varchar(30),\
    contact_title varchar(30),\
    address varchar(60),\
    city varchar(15),\
    region varchar(15),\
    postal_code varchar(10),\
    country varchar(15),\
    phone varchar(24)\
);")

cur.execute("CREATE TABLE employees (\
    employee_id smallint NOT NULL,\
    last_name varchar(20) NOT NULL,\
    first_name varchar(10) NOT NULL,\
    title varchar(30),\
    title_of_courtesy varchar(25),\
    birth_date date,\
    hire_date date,\
    address varchar(60),\
    city varchar(15),\
    region varchar(15),\
    postal_code varchar(10),\
    country varchar(15),\
    home_phone varchar(24),\
    extension varchar(4),\
    notes varchar(max),\
    reports_to smallint,\
    photo_path varchar(255),\
	salary real\
);")

cur.execute("CREATE TABLE order_details (\
    order_id smallint NOT NULL,\
    product_id smallint NOT NULL,\
    unit_price real NOT NULL,\
    quantity smallint NOT NULL,\
    discount real NOT NULL\
);")

cur.execute("CREATE TABLE orders (\
    order_id smallint NOT NULL,\
    customer_id bpchar,\
    employee_id smallint,\
    order_date date DISTKEY SORTKEY,\
    required_date date,\
    shipped_date date,\
    ship_via smallint,\
    freight real,\
    ship_name varchar(40),\
    ship_address varchar(60),\
    ship_city varchar(15),\
    ship_region varchar(15),\
    ship_postal_code varchar(10),\
    ship_country varchar(15)\
) DISTSTYLE KEY;")

cur.execute("CREATE TABLE products (\
    product_id smallint NOT NULL,\
    product_name varchar(40) NOT NULL,\
    supplier_id smallint,\
    category_id smallint,\
    quantity_per_unit varchar(20),\
    unit_price real,\
    units_in_stock smallint,\
    units_on_order smallint,\
    reorder_level smallint,\
    discontinued integer NOT NULL\
);")

cur.execute("CREATE TABLE shippers (\
    shipper_id smallint NOT NULL,\
    company_name varchar(40) NOT NULL,\
    phone varchar(24)\
);")

cur.execute("CREATE TABLE suppliers (\
    supplier_id smallint NOT NULL,\
    company_name varchar(40) NOT NULL,\
    contact_name varchar(30),\
    contact_title varchar(30),\
    address varchar(60),\
    city varchar(15),\
    region varchar(15),\
    postal_code varchar(10),\
    country varchar(15),\
    phone varchar(24),\
    fax varchar(24),\
    homepage varchar(max)\
);")

Verificando a existência das tabelas criadas

In [15]:
cur.execute(
    "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")

tables = cur.fetchall()

for table in tables:
    print(table[0])

suppliers
shippers
products
orders
order_details
employees
customers
categories

Inserindo de dados nas tabelas do Redshift através dos scripts SQL (1 a 4)

In [16]:
with open('1.categories_shippers_suppliers.sql', 'r') as file:
    query1 = file.read()

with open('2.customers_employees_products.sql', 'r') as file:
    query2 = file.read()

with open('3.orders.sql', 'r') as file:
    query3 = file.read()

with open('4.orderdetails.sql', 'r') as file:
    query4 = file.read()

cur.execute(query1)
cur.execute(query2)
cur.execute(query3)
cur.execute(query4)

In [17]:
cur.execute(
    "SELECT * FROM orders WHERE order_date BETWEEN '2022-01-01' AND '2022-12-31';")

tables = cur.fetchall()

for table in tables:
    print(table)

(10808, 'OLDWO                                                                                                                                                                                                                                                           ', 2, datetime.date(2022, 1, 1), datetime.date(2022, 1, 29), datetime.date(2022, 1, 9), 3, 45.53, 'Old World Delicatessen', '2743 Bering St.', 'Anchorage', 'AK', '99508', 'USA')
(10809, 'WELLI                                                                                                                                                                                                                                                           ', 7, datetime.date(2022, 1, 1), datetime.date(2022, 1, 29), datetime.date(2022, 1, 7), 1, 4.87, 'Wellington Importadora', 'Rua do Mercado, 12', 'Resende', 'SP', '08737-363', 'Brazil')
(10810, 'LAUGB                                                                                                                                                                                                                                                           ', 2, datetime.date(2022, 1, 1), datetime.date(2022, 1, 29), datetime.date(2022, 1, 7), 3, 4.33, 'Laughing Bacchus Wine Cellars', '2319 Elm St.', 'Vancouver', 'BC', 'V3F 2K1', 'Canada')
(10811, 'LINOD                                                                                                                                                                                                                                                           ', 8, datetime.date(2022, 1, 2), datetime.date(2022, 1, 30), datetime.date(2022, 1, 8), 1, 31.22, 'LINO-Delicateses', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', 'Nueva Esparta', '4980', 'Venezuela')
(10812, 'REGGC                                                                                                                                                                                                                                                           ', 5, datetime.date(2022, 1, 2), datetime.date(2022, 1, 30), datetime.date(2022, 1, 12), 1, 59.78, 'Reggiani Caseifici', 'Strada Provinciale 124', 'Reggio Emilia', None, '42100', 'Italy')
(10813, 'RICAR                                                                                                                                                                                                                                                           ', 1, datetime.date(2022, 1, 5), datetime.date(2022, 2, 2), datetime.date(2022, 1, 9), 1, 47.38, 'Ricardo Adocicados', 'Av. Copacabana, 267', 'Rio de Janeiro', 'RJ', '02389-890', 'Brazil')
(10814, 'VICTE                                                                                                                                                                                                                                                           ', 3, datetime.date(2022, 1, 5), datetime.date(2022, 2, 2), datetime.date(2022, 1, 14), 3, 130.94, 'Victuailles en stock', '2, rue du Commerce', 'Lyon', None, '69004', 'France')
(10815, 'SAVEA                                                                                                                                                                                                                                                           ', 2, datetime.date(2022, 1, 5), datetime.date(2022, 2, 2), datetime.date(2022, 1, 14), 3, 14.62, 'Save-a-lot Markets', '187 Suffolk Ln.', 'Boise', 'ID', '83720', 'USA')
(10818, 'MAGAA                                                                                                                                                                                                                                                           ', 7, datetime.date(2022, 1, 7), datetime.date(2022, 2, 4), datetime.date(2022, 1, 12), 3, 65.48, 'Magazzini Alimentari Riuniti', 'Via Ludovico il Moro 22', 'Bergamo', None, '24100', 'Italy')
(10819, 'CACTU                                                                                                                                                                                                                                                           ', 2, datetime.date(2022, 1, 7), datetime.date(2022, 2, 4), datetime.date(2022, 1, 16), 3, 19.76, 'Cactus Comidas para llevar', 'Cerrito 333', 'Buenos Aires', None, '1010', 'Argentina')
(10820, 'RATTC                                                                                                                                                                                                                                                           ', 3, datetime.date(2022, 1, 7), datetime.date(2022, 2, 4), datetime.date(2022, 1, 13), 2, 37.52, 'Rattlesnake Canyon Grocery', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'USA')
(10823, 'LILAS                                                                                                                                                                                                                                                           ', 5, datetime.date(2022, 1, 9), datetime.date(2022, 2, 6), datetime.date(2022, 1, 13), 2, 163.97, 'LILA-Supermercado', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', 'Lara', '3508', 'Venezuela')
(10824, 'FOLKO                                                                                                                                                                                                                                                           ', 8, datetime.date(2022, 1, 9), datetime.date(2022, 2, 6), datetime.date(2022, 1, 30), 1, 1.23, 'Folk och f HB', 'kergatan 24', 'Brcke', None, 'S-844 67', 'Sweden')
(10825, 'DRACD                                                                                                                                                                                                                                                           ', 1, datetime.date(2022, 1, 9), datetime.date(2022, 2, 6), datetime.date(2022, 1, 14), 1, 79.25, 'Drachenblut Delikatessen', 'Walserweg 21', 'Aachen', None, '52066', 'Germany')
(10828, 'RANCH                                                                                                                                                                                                                                                           ', 9, datetime.date(2022, 1, 13), datetime.date(2022, 1, 27), datetime.date(2022, 2, 4), 1, 90.85, 'Rancho grande', 'Av. del Libertador 900', 'Buenos Aires', None, '1010', 'Argentina')
(10829, 'ISLAT                                                                                                                                                                                                                                                           ', 9, datetime.date(2022, 1, 13), datetime.date(2022, 2, 10), datetime.date(2022, 1, 23), 1, 154.72, 'Island Trading', 'Garden House Crowther Way', 'Cowes', 'Isle of Wight', 'PO31 7PJ', 'UK')
(10830, 'TRADH                                                                                                                                                                                                                                                           ', 4, datetime.date(2022, 1, 13), datetime.date(2022, 2, 24), datetime.date(2022, 1, 21), 2, 81.83, 'Tradiao Hipermercados', 'Av. Ins de Castro, 414', 'Sao Paulo', 'SP', '05634-030', 'Brazil')
(10848, 'CONSH                                                                                                                                                                                                                                                           ', 7, datetime.date(2022, 1, 23), datetime.date(2022, 2, 20), datetime.date(2022, 1, 29), 2, 38.24, 'Consolidated Holdings', 'Berkeley Gardens 12 Brewery', 'London', None, 'WX1 6LT', 'UK')
(10849, 'KOENE                                                                                                                                                                                                                                                           ', 9, datetime.date(2022, 1, 23), datetime.date(2022, 2, 20), datetime.date(2022, 1, 30), 2, 0.56, 'Kniglich Essen', 'Maubelstr. 90', 'Brandenburg', None, '14776', 'Germany')
(10850, 'VICTE                                                                                                                                                                                                                                                           ', 1, datetime.date(2022, 1, 23), datetime.date(2022, 3, 6), datetime.date(2022, 1, 30), 1, 49.19, 'Victuailles en stock', '2, rue du Commerce', 'Lyon', None, '69004', 'France')
(10853, 'BLAUS                                                                                                                                                                                                                                                           ', 9, datetime.date(2022, 1, 27), datetime.date(2022, 2, 24), datetime.date(2022, 2, 3), 2, 53.83, 'Blauer See Delikatessen', 'Forsterstr. 57', 'Mannheim', None, '68306', 'Germany')
(10854, 'ERNSH                                                                                                                                                                                                                                                           ', 3, datetime.date(2022, 1, 27), datetime.date(2022, 2, 24), datetime.date(2022, 2, 5), 2, 100.22, 'Ernst Handel', 'Kirchgasse 6', 'Graz', None, '8010', 'Austria')
(10816, 'GREAL                                                                                                                                                                                                                                                           ', 4, datetime.date(2022, 1, 6), datetime.date(2022, 2, 3), datetime.date(2022, 2, 4), 2, 719.78, 'Great Lakes Food Market', '2732 Baker Blvd.', 'Eugene', 'OR', '97403', 'USA')
(10817, 'KOENE                                                                                                                                                                                                                                                           ', 3, datetime.date(2022, 1, 6), datetime.date(2022, 1, 20), datetime.date(2022, 1, 13), 2, 306.07, 'Kniglich Essen', 'Maubelstr. 90', 'Brandenburg', None, '14776', 'Germany')
(10821, 'SPLIR                                                                                                                                                                                                                                                           ', 1, datetime.date(2022, 1, 8), datetime.date(2022, 2, 5), datetime.date(2022, 1, 15), 1, 36.68, 'Split Rail Beer & Ale', 'P.O. Box 555', 'Lander', 'WY', '82520', 'USA')
(10822, 'TRAIH                                                                                                                                                                                                                                                           ', 6, datetime.date(2022, 1, 8), datetime.date(2022, 2, 5), datetime.date(2022, 1, 16), 3, 7.0, 'Trail-s Head Gourmet Provisioners', '722 DaVinci Blvd.', 'Kirkland', 'WA', '98034', 'USA')
(10826, 'BLONP                                                                                                                                                                                                                                                           ', 6, datetime.date(2022, 1, 12), datetime.date(2022, 2, 9), datetime.date(2022, 2, 6), 1, 7.09, 'Blondel pre et fils', '24, place Klber', 'Strasbourg', None, '67000', 'France')
(10827, 'BONAP                                                                                                                                                                                                                                                           ', 1, datetime.date(2022, 1, 12), datetime.date(2022, 1, 26), datetime.date(2022, 2, 6), 2, 63.54, 'Bon app-', '12, rue des Bouchers', 'Marseille', None, '13008', 'France')
(10831, 'SANTG                                                                                                                                                                                                                                                           ', 3, datetime.date(2022, 1, 14), datetime.date(2022, 2, 11), datetime.date(2022, 1, 23), 2, 72.19, 'Sant Gourmet', 'Erling Skakkes gate 78', 'Stavern', None, '4110', 'Norway')
(10832, 'LAMAI                                                                                                                                                                                                                                                           ', 2, datetime.date(2022, 1, 14), datetime.date(2022, 2, 11), datetime.date(2022, 1, 19), 2, 43.26, 'La maison d-Asie', '1 rue Alsace-Lorraine', 'Toulouse', None, '31000', 'France')
(10833, 'OTTIK                                                                                                                                                                                                                                                           ', 6, datetime.date(2022, 1, 15), datetime.date(2022, 2, 12), datetime.date(2022, 1, 23), 2, 71.49, 'Ottilies Kseladen', 'Mehrheimerstr. 369', 'Kln', None, '50739', 'Germany')
(10834, 'TRADH                                                                                                                                                                                                                                                           ', 1, datetime.date(2022, 1, 15), datetime.date(2022, 2, 12), datetime.date(2022, 1, 19), 3, 29.78, 'Tradiao Hipermercados', 'Av. Ins de Castro, 414', 'Sao Paulo', 'SP', '05634-030', 'Brazil')
(10835, 'ALFKI                                                                                                                                                                                                                                                           ', 1, datetime.date(2022, 1, 15), datetime.date(2022, 2, 12), datetime.date(2022, 1, 21), 3, 69.53, 'Alfred-s Futterkiste', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany')
(10836, 'ERNSH                                                                                                                                                                                                                                                           ', 7, datetime.date(2022, 1, 16), datetime.date(2022, 2, 13), datetime.date(2022, 1, 21), 1, 411.88, 'Ernst Handel', 'Kirchgasse 6', 'Graz', None, '8010', 'Austria')
(10837, 'BERGS                                                                                                                                                                                                                                                           ', 9, datetime.date(2022, 1, 16), datetime.date(2022, 2, 13), datetime.date(2022, 1, 23), 3, 13.32, 'Berglunds snabbkp', 'Berguvsvgen 8', 'Lule', None, 'S-958 22', 'Sweden')
(10838, 'LINOD                                                                                                                                                                                                                                                           ', 3, datetime.date(2022, 1, 19), datetime.date(2022, 2, 16), datetime.date(2022, 1, 23), 3, 59.28, 'LINO-Delicateses', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', 'Nueva Esparta', '4980', 'Venezuela')
(10839, 'TRADH                                                                                                                                                                                                                                                           ', 3, datetime.date(2022, 1, 19), datetime.date(2022, 2, 16), datetime.date(2022, 1, 22), 3, 35.43, 'Tradiao Hipermercados', 'Av. Ins de Castro, 414', 'Sao Paulo', 'SP', '05634-030', 'Brazil')
(10840, 'LINOD                                                                                                                                                                                                                                                           ', 4, datetime.date(2022, 1, 19), datetime.date(2022, 3, 2), datetime.date(2022, 2, 16), 2, 2.71, 'LINO-Delicateses', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', 'Nueva Esparta', '4980', 'Venezuela')
(10841, 'SUPRD                                                                                                                                                                                                                                                           ', 5, datetime.date(2022, 1, 20), datetime.date(2022, 2, 17), datetime.date(2022, 1, 29), 2, 424.3, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium')
(10842, 'TORTU                                                                                                                                                                                                                                                           ', 1, datetime.date(2022, 1, 20), datetime.date(2022, 2, 17), datetime.date(2022, 1, 29), 3, 54.42, 'Tortuga Restaurante', 'Avda. Azteca 123', 'Mxico D.F.', None, '5033', 'Mexico')
(10843, 'VICTE                                                                                                                                                                                                                                                           ', 4, datetime.date(2022, 1, 21), datetime.date(2022, 2, 18), datetime.date(2022, 1, 26), 2, 9.26, 'Victuailles en stock', '2, rue du Commerce', 'Lyon', None, '69004', 'France')
(10844, 'PICCO                                                                                                                                                                                                                                                           ', 8, datetime.date(2022, 1, 21), datetime.date(2022, 2, 18), datetime.date(2022, 1, 26), 2, 25.22, 'Piccolo und mehr', 'Geislweg 14', 'Salzburg', None, '5020', 'Austria')
(10845, 'QUICK                                                                                                                                                                                                                                                           ', 8, datetime.date(2022, 1, 21), datetime.date(2022, 2, 4), datetime.date(2022, 1, 30), 1, 212.98, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany')
(10846, 'SUPRD                                                                                                                                                                                                                                                           ', 2, datetime.date(2022, 1, 22), datetime.date(2022, 3, 5), datetime.date(2022, 1, 23), 3, 56.46, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium')

<h2>Carregando dados externos Redshift Spectrum (Bucket S3)</h2>

<h6>Obs.: A role IAM deve ser antes associada ao cluster Redshift.</h6>

In [18]:
cur.execute(f"create external schema schema_dev \
from data catalog \
database '{database}' \
iam_role '{role_iam}' \
create external database if not exists;")

In [20]:
cur.execute(f"create external table schema_dev.employees ( \
EmployeeID bigint, \
LastName varchar, \
FirstName varchar, \
Title varchar, \
TitleOfCourtesy varchar, \
BirthDate bigint, \
HireDate bigint, \
Address varchar, \
City  varchar, \
Region varchar, \
PostalCode varchar, \
Country varchar, \
HomePhone varchar, \
Extension bigint, \
Notes varchar, \
ReportsTo bigint, \
PhotoPath varchar, \
Salary FLOAT8) \
stored as parquet location '{s3_bucket}redshift/';")

Verificando a existencia da tabela externa employees

In [21]:
cur.execute("SELECT tablename FROM svv_external_tables;")

tables = cur.fetchall()

for table in tables:
    print(table[0])

employees

Consulta na tabela externa employees, criada apartir de um arquivo parquet do Bucket S3.

In [22]:
cur.execute(f"SELECT * FROM {database}.schema_dev.employees;")

tables = cur.fetchall()

for table in tables:
    print(table)

(1, 'Davolio', 'Nancy', 'Sales Representative', 'Ms.', -664761600000000, 704678400000000, '507 - 20th Ave. E.Apt. 2A', 'Seattle', 'WA', '98122', 'USA', '(206) 555-9857', 5467, 'Education includes a BA in psychology from Colorado State University in 1970.  She also completed "The Art of the Cold Call."  Nancy is a member of Toastmasters International.', 2, 'http://accweb/emmployees/davolio.bmp', 2954.55)
(2, 'Fuller', 'Andrew', 'Vice President, Sales', 'Dr.', -563846400000000, 713750400000000, '908 W. Capital Way', 'Tacoma', 'WA', '98401', 'USA', '(206) 555-9482', 3457, 'Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager i', 0, 'http://accweb/emmployees/fuller.bmp', 2254.49)
(3, 'Leverling', 'Janet', 'Sales Representative', 'Ms.', -200102400000000, 702086400000000, '722 Moss Bay Blvd.', 'Kirkland', 'WA', '98033', 'USA', '(206) 555-3412', 3355, 'Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate program in food retailing management.  Janet was hired as a sales associate in 1991 and promoted to sales representative in February 1992.', 2, 'http://accweb/emmployees/leverling.bmp', 3119.15)
(4, 'Peacock', 'Margaret', 'Sales Representative', 'Mrs.', -1018828800000000, 736387200000000, '4110 Old Redmond Rd.', 'Redmond', 'WA', '98052', 'USA', '(206) 555-8122', 5176, 'Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992.', 2, 'http://accweb/emmployees/peacock.bmp', 1861.08)
(5, 'Buchanan', 'Steven', 'Sales Manager', 'Mr.', -468028800000000, 750816000000000, '14 Garrett Hill', 'London', None, 'SW1 8JR', 'UK', '(71) 555-4848', 3453, 'Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree in 1976.  Upon joining the company as a sales representative in 1992, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent po', 2, 'http://accweb/emmployees/buchanan.bmp', 1744.21)
(6, 'Suyama', 'Michael', 'Sales Representative', 'Mr.', -205200000000000, 750816000000000, 'Coventry House Miner Rd.', 'London', None, 'EC2 7JR', 'UK', '(71) 555-7773', 428, 'Michael is a graduate of Sussex University (MA, economics, 1983) and the University of California at Los Angeles (MBA, marketing, 1986).  He has also taken the courses "Multi-Cultural Selling" and "Time Management for the Sales Professional."  He is fluent', 5, 'http://accweb/emmployees/davolio.bmp', 2004.07)
(7, 'King', 'Robert', 'Sales Representative', 'Mr.', -302745600000000, 757468800000000, 'Edgeham Hollow Winchester Way', 'London', None, 'RG1 9SP', 'UK', '(71) 555-5598', 465, 'Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan in 1992, the year he joined the company.  After completing a course entitled "Selling in Europe," he was transferred to the', 5, 'http://accweb/emmployees/davolio.bmp', 1991.55)
(8, 'Callahan', 'Laura', 'Inside Sales Coordinator', 'Ms.', -378000000000000, 762825600000000, '4726 - 11th Ave. N.E.', 'Seattle', 'WA', '98105', 'USA', '(206) 555-1189', 2344, 'Laura received a BA in psychology from the University of Washington.  She has also completed a course in business French.  She reads and writes French.', 2, 'http://accweb/emmployees/davolio.bmp', 2100.5)
(9, 'Dodsworth', 'Anne', 'Sales Representative', 'Ms.', -123984000000000, 784857600000000, '7 Houndstooth Rd.', 'London', None, 'WG2 7LT', 'UK', '(71) 555-4444', 452, 'Anne has a BA degree in English from St. Lawrence College.  She is fluent in French and German.', 5, 'http://accweb/emmployees/davolio.bmp', 2333.33)

In [23]:
cur.execute(f"select e.FirstName + ' ' + e.LastName nome, \
sum(od.unit_price * od.quantity - od.discount) total \
from order_details od \
inner join orders o on o.order_id = od.order_id \
inner join schema_dev.employees e on e.employeeid = o.employee_id \
group by nome \
order by total desc;")

tables = cur.fetchall()

for table in tables:
    print(table)

('Margaret Peacock', 250187.45025301)
('Janet Leverling', 213051.299479961)
('Nancy Davolio', 202143.710308552)
('Andrew Fuller', 177749.260476589)
('Robert King', 141295.990102768)
('Laura Callahan', 133301.030065536)
('Anne Dodsworth', 82963.9998178482)
('Michael Suyama', 78198.0999336243)
('Steven Buchanan', 75567.7500033379)

<h2>Carga de dados (Bucket S3)</h2>

Criando a tabela employees que receberá os dados importados do Bucket S3

In [24]:
cur.execute("CREATE TABLE employees2 ( \
    employee_id smallint NOT NULL, \
    last_name varchar(20) NOT NULL, \
    first_name varchar(10) NOT NULL, \
    title varchar(30), \
    title_of_courtesy varchar(25), \
    birth_date date, \
    hire_date date, \
    address varchar(60), \
    city varchar(15), \
    region varchar(15), \
    postal_code varchar(10), \
    country varchar(15), \
    home_phone varchar(24), \
    extension varchar(4), \
    notes varchar(max), \
    reports_to smallint, \
    photo_path varchar(255), \
	salary real);")

Importando dados do arquivo CSV employees.csv para a tabela employees2 com o comando COPY

In [25]:
cur.execute(f"copy employees2 \
from '{s3_bucket}employees/employees2.csv' \
CREDENTIALS 'aws_access_key_id={aws_access_key_id};aws_secret_access_key={aws_secret_access_key}' \
delimiter ';' \
region '{aws_region}' \
IGNOREHEADER 1 \
DATEFORMAT AS 'YYYY-MM-DD HH:MI:SS' \
removequotes;")

Verificando dados da tabela employees2

In [26]:
cur.execute("select * from employees2;")

tables = cur.fetchall()

for table in tables:
    print(table)

(1, 'Davolio', 'Nancy', 'Sales Representative', 'Ms.', datetime.date(1948, 12, 8), datetime.date(1992, 5, 1), '507 - 20th Ave. E.Apt. 2A', 'Seattle', 'WA', '98122', 'USA', '(206) 555-9857', '5467', 'Education includes a BA in psychology from Colorado State University in 1970.  She also completed ""The Art of the Cold Call.""  Nancy is a member of Toastmasters International.', 2, 'http://accweb/emmployees/davolio.bmp', 2954.55)
(2, 'Fuller', 'Andrew', 'Vice President, Sales', 'Dr.', datetime.date(1952, 2, 19), datetime.date(1992, 8, 14), '908 W. Capital Way', 'Tacoma', 'WA', '98401', 'USA', '(206) 555-9482', '3457', 'Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager in January 1992 and to vice president of sales in March 1993.  Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.', 0, 'http://accweb/emmployees/fuller.bmp', 2254.49)
(3, 'Leverling', 'Janet', 'Sales Representative', 'Ms.', datetime.date(1963, 8, 30), datetime.date(1992, 4, 1), '722 Moss Bay Blvd.', 'Kirkland', 'WA', '98033', 'USA', '(206) 555-3412', '3355', 'Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate program in food retailing management.  Janet was hired as a sales associate in 1991 and promoted to sales representative in February 1992.', 2, 'http://accweb/emmployees/leverling.bmp', 3119.15)
(4, 'Peacock', 'Margaret', 'Sales Representative', 'Mrs.', datetime.date(1937, 9, 19), datetime.date(1993, 5, 3), '4110 Old Redmond Rd.', 'Redmond', 'WA', '98052', 'USA', '(206) 555-8122', '5176', 'Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992.', 2, 'http://accweb/emmployees/peacock.bmp', 1861.08)
(5, 'Buchanan', 'Steven', 'Sales Manager', 'Mr.', datetime.date(1955, 3, 4), datetime.date(1993, 10, 17), '14 Garrett Hill', 'London', '', 'SW1 8JR', 'UK', '(71) 555-4848', '3453', 'Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree in 1976.  Upon joining the company as a sales representative in 1992, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London.  He was promoted to sales manager in March 1993.  Mr. Buchanan has completed the courses ""Successful Telemarketing"" and ""International Sales Management.""  He is fluent in French.', 2, 'http://accweb/emmployees/buchanan.bmp', 1744.21)
(6, 'Suyama', 'Michael', 'Sales Representative', 'Mr.', datetime.date(1963, 7, 2), datetime.date(1993, 10, 17), 'Coventry House Miner Rd.', 'London', '', 'EC2 7JR', 'UK', '(71) 555-7773', '428', 'Michael is a graduate of Sussex University (MA, economics, 1983) and the University of California at Los Angeles (MBA, marketing, 1986).  He has also taken the courses ""Multi-Cultural Selling"" and ""Time Management for the Sales Professional.""  He is fluent in Japanese and can read and write French, Portuguese, and Spanish.', 5, 'http://accweb/emmployees/davolio.bmp', 2004.07)
(7, 'King', 'Robert', 'Sales Representative', 'Mr.', datetime.date(1960, 5, 29), datetime.date(1994, 1, 2), 'Edgeham Hollow Winchester Way', 'London', '', 'RG1 9SP', 'UK', '(71) 555-5598', '465', 'Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan in 1992, the year he joined the company.  After completing a course entitled ""Selling in Europe,"" he was transferred to the London office in March 1993.', 5, 'http://accweb/emmployees/davolio.bmp', 1991.55)
(8, 'Callahan', 'Laura', 'Inside Sales Coordinator', 'Ms.', datetime.date(1958, 1, 9), datetime.date(1994, 3, 5), '4726 - 11th Ave. N.E.', 'Seattle', 'WA', '98105', 'USA', '(206) 555-1189', '2344', 'Laura received a BA in psychology from the University of Washington.  She has also completed a course in business French.  She reads and writes French.', 2, 'http://accweb/emmployees/davolio.bmp', 2100.5)
(9, 'Dodsworth', 'Anne', 'Sales Representative', 'Ms.', datetime.date(1966, 1, 27), datetime.date(1994, 11, 15), '7 Houndstooth Rd.', 'London', '', 'WG2 7LT', 'UK', '(71) 555-4444', '452', 'Anne has a BA degree in English from St. Lawrence College.  She is fluent in French and German.', 5, 'http://accweb/emmployees/davolio.bmp', 2333.33)

<h2>Views e Views Materializadas no Redshift</h2>

Criando a view e view materializada

In [27]:
cur.execute("create view view_employee as \
select \
    e.employee_id, \
    e.first_name, \
    e.last_name, \
    extract(month from o.order_date) as month, \
    extract(year from o.order_date) as year, \
    sum(od.unit_price * od.quantity) as total_sales \
from \
    employees e \
join orders o on e.employee_id = o.employee_id \
join order_details od on o.order_id = od.order_id \
group by \
    e.employee_id, \
    e.first_name, \
    e.last_name, \
    month, \
    year;")

cur.execute("create materialized view view_employee_mat as \
select \
    e.employee_id, \
    e.first_name, \
    e.last_name, \
    extract(month from o.order_date) as month, \
    extract(year from o.order_date) as year, \
    sum(od.unit_price * od.quantity) as total_sales \
from \
    employees e \
join orders o on e.employee_id = o.employee_id \
join order_details od on o.order_id = od.order_id \
group by \
    e.employee_id, \
    e.first_name, \
    e.last_name, \
    month, \
    year;")

Analisando diferença de desempenho entre view normal e view materializada com o comando explain

In [28]:
cur.execute(f"explain select * from view_employee where employee_id = 7")

tables = cur.fetchall()

for table in tables:
    print(table)

('XN HashAggregate  (cost=49.97..50.00 rows=2 width=93)',)
('  ->  XN Hash Join DS_DIST_ALL_NONE  (cost=27.05..49.16 rows=54 width=93)',)
('        Hash Cond: ("outer".order_id = "inner".order_id)',)
('        ->  XN Hash Join DS_DIST_ALL_NONE  (cost=0.12..10.60 rows=5 width=89)',)
('              Hash Cond: ("outer".employee_id = "inner".employee_id)',)
('              ->  XN Seq Scan on orders o  (cost=0.00..10.38 rows=5 width=8)',)
('                    Filter: (employee_id = 7)',)
('              ->  XN Hash  (cost=0.11..0.11 rows=1 width=83)',)
('                    ->  XN Seq Scan on employees e  (cost=0.00..0.11 rows=1 width=83)',)
('                          Filter: (employee_id = 7)',)
('        ->  XN Hash  (cost=21.55..21.55 rows=2155 width=8)',)
('              ->  XN Seq Scan on order_details od  (cost=0.00..21.55 rows=2155 width=8)',)
('----- Tables missing statistics: employees, order_details, orders -----',)
('----- Update statistics by running the ANALYZE command on these tables -----',)

In [29]:
cur.execute(f"explain select * from view_employee_mat where employee_id = 7")

tables = cur.fetchall()

for table in tables:
    print(table)

('XN Seq Scan on mv_tbl__view_employee_mat__0 derived_table1  (cost=0.00..2.40 rows=21 width=38)',)
('  Filter: (grvar_1 = 7)',)

In [30]:
cur.close()
conn.close()